<h1> Create a New Workout</h1>

<%= form_for @workout do |f| %>

    <%= f.label :category %>
    <%= f.text_field :category %>

    <br> </br>

    <%= f.label :intensity %>
    <%= f.text_field :intensity %>

    <br> </br>

    <%= f.submit "Create" %>

   
    

<% end %>