<h1> All Training Sessions: </h1>

<ul>
<% @training_sessions.order(:date).each do |t| %>
  <li>
  <%= t.username %> completed the
    <%= link_to t.workout.name, workout_path(t.workout)%>
    while training for the <%= link_to t.competition.title, competition_path(t.competition)%>
    <%= display_date(t) %>
    <%= display_condition(t) %>


  </li><br>
<% end %>
</ul>