<h1> Record a Training Session </h1>

<%= form_for @training_session do |f| %>

    <%= f.label :date %>
    <%= f.date_field :date %>
    <br></br>

    <%= f.label :condition %>
    <%= f.text_field :condition %>
    <br></br>

    <%= f.label :competition_id %>
    <%= f.collection_select :competition_id, current_user.competitions.all, :id, :title %>
    <br></br>

    <%= f.label :workout_id %>
    <%= f.collection_select :workout_id, current_user.created_workouts.all, :id, :name %>

    
    



    <%= f.submit %>

<% end %>