<h1> <%=@training_session.workout.name%> </h1>

<h1> <%=@training_session.workout.category%> </h1>

<h1> <%=@training_session.workout.intensity%> </h1>

<h1> <%=@training_session.competition.title%> </h1>

<h1> <%=@training_session.date%> </h1>

<h1> <%=@training_session.condition%> </h1>