<!DOCTYPE html>
<html>
  <head>
    <title>Olympia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div> 
    
 

    <% if logged_in? %>
    <nav class='navbar'>
      <%= link_to 'Logout', '/logout', method: :delete, class:'button'%>
      <%= link_to 'My Competitions', competitions_path , class:'button'%>
      <%= link_to 'Add a Competition', new_competition_path , class:'button'%>
      <%= link_to 'Add a Workout', new_workout_path , class:'button'%>
      <%= link_to 'All Workouts', workouts_path, class:'button' %>
      <%= link_to 'Add a Training Session', new_training_session_path, class:'button' %>
      <%= link_to 'My Training Sessions', training_sessions_path, class:'button' %>
    </nav>
    <% else %>
      <%= link_to 'Log In', login_path %>

      <%= link_to 'Sign Up', signup_path  %>

      <%= link_to "Log In with Google", "/auth/google_oauth2" %>
    <% end %>
    
    </div>  



    <%= yield %>
  </body>
</html>
